<html>
   <head>
      <title>
         YOUTUBE VIDEO DATA
      </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
      <style>
         .wrapper {
         margin-top: 5vh;
         }
         .dataTables_filter {
         float: right;
         }
         .table-hover > tbody > tr:hover {
         background-color: #ccffff;
         }
         @media only screen and (min-width: 768px) {
         .table {
         table-layout: fixed;
         max-width: 100% !important;
         }
         }
         thead {
         background: #ddd;
         }
         .table td:nth-child(2) {
         overflow: hidden;
         text-overflow: ellipsis;
         }
         .highlight {
         background: #ffff99;
         }
         @media only screen and (max-width: 767px) {
         /* Force table to not be like tables anymore */
         table,
         thead,
         tbody,
         th,
         td,
         tr {
         display: block;
         }
         /* Hide table headers (but not display: none;, for accessibility) */
         thead tr,
         tfoot tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
         }
         td {
         /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 50% !important;
         }
         td:before {
         /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 6px;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
         }
         .table td:nth-child(1) {
         background: #ccc;
         height: 100%;
         top: 0;
         left: 0;
         font-weight: bold;
         }
         /*
         Label the data
         */
         td:nth-of-type(1):before {
         content: "Name";
         }
         td:nth-of-type(2):before {
         content: "Position";
         }
         td:nth-of-type(3):before {
         content: "Office";
         }
         td:nth-of-type(4):before {
         content: "Age";
         }
         td:nth-of-type(5):before {
         content: "Start date";
         }
         td:nth-of-type(6):before {
         content: "Salary";
         }
         .dataTables_length {
         display: none;
         }
         }
      </style>
   </head>
   <body>
      <div class="container wrapper">
         <table class="table table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
               <tr>
                  <th class="col-md-2">Title</th>
                  <th class="col-md-2">Description</th>
                  <th class="col-md-2">publishedAt</th>
                  <th class="col-md-2">Thumbnail</th>
               </tr>
            </thead>
            <tfoot>
               <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>publishedAt</th>
                  <th>Thumbnail</th>
               </tr>
            </tfoot>
            <tbody>
               <% for (var i = 0; i < data.length; i++) { %>
               <tr>
                  <td><%= data[i].title %></td>
                  <td><%= data[i].description %></td>
                  <td><%= data[i].publishedAt %></td>
                  <td><img src="<%= data[i].thumbnails.default.url %>"></td>
               </tr>
               <% } %>
            </tbody>
         </table>
      </div>
      <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
      <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
      <script>
         $(document).ready(function() {
         $('.table').DataTable({
         //disable sorting on last column
         "columnDefs": [
         { "orderable": false, "targets": 5 }
         ],
         language: {
         //customize pagination prev and next buttons: use arrows instead of words
         'paginate': {
         'previous': '<span class="fa fa-chevron-left"></span>',
         'next': '<span class="fa fa-chevron-right"></span>'
         },
         //customize number of elements to be displayed
         "lengthMenu": 'Display <select class="form-control input-sm">'+
         '<option value="10">10</option>'+
         '<option value="20">20</option>'+
         '<option value="30">30</option>'+
         '<option value="40">40</option>'+
         '<option value="50">50</option>'+
         '<option value="-1">All</option>'+
         '</select> results'
         }
         })  
         } );
      </script>
   </body>
</html>